<app-places-container title="Your Favorite Places">
    @switch (status()){
    @case('loading') {
      <p class="fallback-text">Loading places...</p>
    }
    @case('error') {
      <p class="fallback-text">{{ error() }}</p>
    }
    @case('empty') {
      <p class="fallback-text">Unfortunately, no places could be found.</p>
    }
    @case('success') {
      <app-places [places]="places()!" />
    }
    @default {
      <p class="fallback-text">An error occurred while loading places.</p>
    }
  }
</app-places-container>
